<h1>This should be my new form page</h1>

<form action="/cats" method="post">
<label>Cat</label>
<input placeholder= "Name of Cat" type= "text" name="name">
<br/>
<br/>
<label>Breed</label>
<input placeholder= "Breed of Cat" type="text" name="breed">

<input type="submit">

</form>