<form action="/owners/<%=@owner.id%>" method='post'>
<input type= "hidden" name="_method" value="patch">

<label>Edit Owner Name</label>
<input type="text" name="name" value= <%=@owner.name%>  >

<input type='submit'>
</form>