<h1>this is my new form</h1>


<h2>Performer Form</h2>
<form action="/performers" method="post">
<input type="text" placeholder="Performer Name" name="name">

<input type="submit" value="Create Performer">

</form>